.quick-menu {
    position: fixed;
    top: 0; /* Adjust the top position as needed to avoid overlapping with header */
    right: 0;
    width: 250px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: none;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.user-info img {
    /*align-self: center;*/
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-bottom: 10px;
}

.quick-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-menu li {
    margin-bottom: 10px;
}

.quick-menu a {
    text-decoration: none;
    color: #333;
}